@import 'tailwindcss';
@import 'flowbite/src/themes/default';

html {
  font-size: 62.5%;
}

.some-element {
  font-size: 1.2rem;
}

#app {
  margin: 0 auto;
  width: 100%;
  font-weight: normal;
}

input:focus, textarea:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
